.container {
    display: block;
    width: 100%;
}

.buttonInner {
    padding: 1rem 1.25rem;
    display: flex;
    flex-grow: 1;
}

.projectName {
    font-size: 1.2rem;
    color: rgba(242, 242, 242, 1);
}