.container {
    display: block;
    width: 100%;
}

.buttonInner {
    padding: 0.75rem 1rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
}

.projectInfoTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.projectName {
    display: block;
    font-size: 1.2rem;
    color: rgba(242, 242, 242, 1);
}

.projectDate {
    display: block;
    margin-right: 1rem;
    font-size: 0.9rem;
    color: rgba(242, 242, 242, 0.8);
}

.projectLanguage {
    display: block;
    margin-right: 1rem;
    font-size: 0.9rem;
    color: rgba(242, 242, 242, 0.4);
}

.projectLanguageSelected {
    display: block;
    margin-right: 1rem;
    font-size: 0.9rem;
    color: rgba(242, 242, 242, 0.8);
}

.projectHeadline {
    font-size: 0.8rem;
    color: rgba(242, 242, 242, 0.6);
}