.skillButtonContents {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
}

.skillButtonIcon {
    width: 1rem;
    margin-right: 0.5rem;
}

.skillButtonText {
    display: block;
    min-width: max-content;
}